/**
Main description styling
**/
.main-byline {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.main-description {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.credits{
  float: right;
  color: gray;
  font-size: 9px;
  bottom: 10px;
}

.main-title{
  width: 100%;
  margin: 10px 0px;
}

.main-photo{
  max-width: 20%;
  display: inline;
}

.main-photo:hover{
  border: solid 1px #CCC;
  -moz-box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;
}

.footer {
  font-size: 10px;
}

body {
  color: white;

  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #b71010); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #b71010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/** Sidebar styling
********************************
**/
.sidebar{
  margin-top: 1vh;
  position: relative;
}

.sidebar ul{
  padding: 0;
  margin: 0;
}

.sidebar li{
  margin-bottom: 1vh;
  list-style: none;
  width: 30vw;
  height: 13vh;
  box-shadow: 4px 4px 2px #000000;

  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;

  left: 0;
  position: relative;

  font-family: 'Raleway', sans-serif;
}

.sidebar li:hover{
  left: 3vw;
  background-color: black;
  color: white;
}

.sidebar-photo{
  width: 80%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.list-rating img {
  height: 10px;
  width: 10px;
}

/** blurb styling
********************************
**/

.blurb {
  font-family: 'Playfair Display', serif;
}

.blurb-rating img {
  height: 20px;
  width: 20px;
}

.blurb-placeholder{
  margin-top: 1vh;
}



/** blurb styling
********************************
**/

.blurb-placeholder{
  margin-top: 1vh;
}

/** Mobile styling
********************************
**/

@media only screen and (max-device-width: 640px) {

  .sidebar li {
    width: 90vw;
  }


  .footer{
    position: relative;
  }
}
