/** Sidebar styling
********************************
**/

.sidebar{
  margin-top: 1vh;
  position: relative;
}

.sidebar ul{
  padding: 0;
  margin: 0;
}

.sidebar li{
  margin-bottom: 1vh;
  list-style: none;
  width: 30vw;
  height: 13vh;
  box-shadow: 4px 4px 2px #888888;

  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;

  left: 0;
  position: relative;
}

.sidebar li:hover{
  left: 3vw;
  background-color: black;
  color: white;
}

.sidebar-photo{
  width: 80%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/** intrdouction styling
********************************
**/

.credits{
  float: right;
  color: gray;
  font-size: 9px;
  bottom: 10px;
}

.main-title{
  width: 100%;
  margin: 10px 0px;
}

.main-byline{
  font-size: 18px;
}

.main-description{
  font-size: 15px;
}

.main-photo{
  max-width: 20%;
  display: inline;
}

.main-photo:hover{
  border: solid 1px #CCC;
  -moz-box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;
}

/** blurb styling
********************************
**/

.blurb-placeholder{
  margin-top: 1vh;
}

/** Mobile styling
********************************
**/

@media only screen and (max-device-width: 640px) {

  .sidebar li {
    width: 90vw;
  }


  .footer{
    position: relative;
  }
}
